@use "../../variables.scss" as *;

.planodd {
  display: flex;
  padding-inline-start: 0px;
  text-align: center;
  list-style-type: none;
  flex-direction: column;

  li:nth-child(1) {
    background-color: $orange_zorba;
    height: 69px;
    padding: 20px;
    color: $white;
    font-size: $fontsize-L;
    font-weight: bold;
  }
  li:nth-child(2) {
    height: 142px;
    padding: 24px;
    background-color: $gray_desertStorm;
  }
  .¥ {
    font-size: $fontsize-L;
    font-weight: bold;
  }
  .price {
    font-size: $fontsize-XXL;
    font-weight: bold;
  }
  .monthly {
    font-size: $fontsize-S;
    font-weight: bold;
    padding-top: 16px;
  }
  li:nth-child(n + 3) {
    height: 60px;
    padding: 20px;
    border: solid 1px $gray_desertStorm;
    @media screen and (min-width: $breakpoints-md) {
      height: 80px;
    }
  }
}

.planeven {
  display: flex;
  padding-inline-start: 0px;
  text-align: center;
  list-style-type: none;
  flex-direction: column;
  border: solid 5px $orange_bistre;

  li:nth-child(1) {
    background-color: $orange_bistre;
    height: 69px;
    padding-top: 20px;
    color: $white;
    font-size: $fontsize-L;
    font-weight: bold;
  }
  li:nth-child(2) {
    height: 142px;
    padding: 24px;
    background-color: $gray_desertStorm;

    .¥ {
      font-size: $fontsize-L;
      font-weight: bold;
    }
    .price {
      font-size: $fontsize-XXL;
      font-weight: bold;
    }
    .monthly {
      font-size: $fontsize-S;
      font-weight: bold;
      padding-top: 16px;
    }
  }

  li:nth-child(n + 3) {
    border: solid 1px $gray_desertStorm;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: $breakpoints-md) {
      height: 80px;
    }
  }
}
