<div class="start">
  <div class="card">
    <div class="imageframe">
      <img src="image 1.png" class="cardimg" />
    </div>
    <div class="card-title">card-title</div>

    <div class="card-body">
      <p>
        card-textcard-textcard-textcard-textcard-textcard-textcard-textcard-text
        card-text card-text card-text card-text card-text card-text card-text
        card-textcard-textcard-textcard-textcard-textcard-textcard-textcard-text
        card-textcard-textcard-textcard-textcard-textcard-textcard-text
      </p>
      <a href="#" class="btn">btn-text</a>
    </div>
  </div>
</div>
