$color-example: #ff0000;
$fontsize-example: 16px;

$white: #ffffff;
$white_smoke: #f5f5f5;
$gray_desertStorm: #ece9e6;
$gray_gainsboro: #dddddd;
$gray_nobel: #999999;
$orange_zorba: #a19283;
$orange_bistre: #442606;
$black_50: rgba(0, 0, 0, 0.5);
$black: #000000;

$fontsize-XS: 12px;
$fontsize-S: 14px;
$fontsize-M: 16px;
$fontsize-L: 20px;
$fontsize-XL: 36px;
$fontsize-XXL: 40px;

$fontfamily-mincho: "Noto Serif JP", serif;
$fontfamily-gothic: "Roboto", "Noto Sans JP", sans-serif;

$breakpoints-xl: 1200px;
$breakpoints-lg: 992px;
$breakpoints-md: 768px;
$breakpoints-sm: 576px;
