@use "../variables" as *;

p {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $XL;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

body {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $S;
}

p {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $XL;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

body {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $S;
}

p {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $XL;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

body {
  align-items: center;
  text-align: center;
  font-family: $fontfamily-mincho;
  font-size: $S;
}
