@use "../variables" as *;

.title {
  h1 {
    text-align: center;
    align-items: center;
    font-family: $fontfamily-mincho;
    font-size: $L;
    padding: 0, 0, 6px, 0;
  }

  h3 {
    text-align: center;
    align-items: center;
    font-family: $fontfamily-mincho;
    font-size: $S;
    line-height: 36px;
  }
}

@media screen and (min-width: $lg) {
  .title {
    h1 {
      font-size: $XL;
      padding: 0, 0, 10px, 0;
    }

    h3 {
      font-size: $S;
      line-height: 28px;
    }
  }
}
