@use "../variables.scss" as *;

.title {
  display: flex;
  align-items: flex-end;
  h1 {
    font-size: $L;
    font-family: $fontfamily-mincho;
    @media screen and (min-width: $lg) {
      font-size: $XXL;
    }
  }
  h4 {
    font-size: $M;
    font-family: $fontfamily-gothic;
    margin-left: 16px;

    @media screen and (min-width: $lg) {
      line-height: 53px;
    }
  }
}
