<div class="events">
  <div class="title">
    <h1>Events</h1>
    <span class="second">イベント</span>
  </div>
  <ul>
    <li>
      <a href="#"> 全ての業種に対応した起業応援セミナーを開催します。</a>
      <div class="date6">2018.08.23</div>
    </li>
    <li>
      <a href="#"> 第3回 Switchクリエイター交流会開催いたします！</a>
      <div class="date6">2018.08.23</div>
    </li>
    <li>
      <a href="#">
        Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。</a
      >
      <div class="date6">2018.08.123</div>
    </li>
  </ul>
  <a href="#" class="notice">
    イベント一覧<i class="fas fa-chevron-right"></i>
  </a>
</div>
